{% extends 'tienda/base.html' %}
{% load static %}

{% block titulo %}Inicio{% endblock %}

{% block contenedor %}
    <h1 class="titul">Inicio</h1>

    {% if data %}
        <div class="mb-3 mt-5 w-100 h-100 ml-0 mr-0 mx-auto"  style="max-width: 1200px;">

            Filtrar por categoría:
            <div class="btn-group btn-group-lg" role="group" aria-label="Basic outlined example">
                {%  for c in cat %}
                    <a href="{% url 'inicio' %}?cat={{ c.id }}" type="button" class="btn btn-outline-success">{{ c.nombre }}</a>
                {% endfor %}
            </div>

        {%  for p in data %}
            {% if forloop.first %}
                <div class="row" style="clear:left;">
            {% endif %}

            {% if forloop.counter0|divisibleby:4 %}
                </div>
                <div class="row" style="clear:left;">
            {% endif %}

            <div class="card m-2 p-0" style="float:left;width: 18rem;">
                <img src="{{ p.foto.url }}" class="card-img-top" alt="{{ p.nombre }}">
                <div class="card-body">
                    <h5 class="card-title">{{ p.nombre }}</h5>
                    <p class="card-text">
                        {{ p.precio }}
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">{{ p.categoria }}</small>
                </div>
            </div>

            {% if forloop.last %}
                </div>
            {% endif %}

        {% endfor %}
        </div>
    {% else %}
        No hay productos en la tienda
    {% endif %}
{% endblock %}
